:root {
  --primary: #7c83fd;
  --gradient: linear-gradient(#7c83fd, #96baff);
  --font: #3d3d3d;
}

body {
  overflow-x: hidden;
}

nav {
  background-image: var(--gradient);
  height: 90px;
}

nav h2,
nav h3 {
  color: white;
}

nav h2 {
  font-size: 30px;
}

nav h3 {
  font-size: 20px;
}
nav .profile img {
  width: 30px;
  border-radius: 50px;
}
nav .tagline {
  width: 60%;
}

nav .logo,
nav .profile {
  width: 20%;
}

nav .profile {
  text-align: right;
}

/* Main Start */
main {
  width: 100%;
  height: 100vh;
}

main .container {
  height: 100%;
  display: grid;
  grid-template-areas:
    'results input'
    'results history';
  grid-template-rows: 1.3fr 1fr;
  grid-template-columns: 1fr 1fr;
}

main .container .results {
  grid-area: results;
}

main .container .results .box {
  overflow-y: scroll;
}
main .container .input-todo {
  grid-area: input;
}
main .container .history {
  grid-area: history;
}

main .results,
main .input-todo,
main .history {
  padding: 20px;
}

main .box {
  background-image: var(--gradient);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

main h2 {
  color: white;
  font-size: 26px;
  padding-top: 35px;
  text-align: center;
}

main .results .box h2 {
  margin-bottom: 40px;
}

main .box .activity {
  background-color: white;
  width: 95%;
  margin: auto;
  padding: 12px;
  border-radius: 5px;
}

main .box .activity button {
  border-radius: 3px;
  background: var(--gradient);
  color: white;
  font-weight: 500;
  border: none;
  padding: 2px 8px;
}
main .box .activity button:hover {
  background: #96baff;
}

main .activity p {
  font-weight: 500;
  color: var(--primary);
}

main .box .activity i {
  color: var(--primary);
  font-size: 24px;
  cursor: pointer;
}
main .box .activity i:hover {
  color: #96baff;
}
/* Main End */

/* Input Todo Start */
main .input-todo h2 {
  margin-bottom: 40px;
}

main .input-todo input {
  margin-bottom: 10px;
}

main .input-todo .box {
  padding-right: 25px;
  padding-left: 25px;
}

main .input-todo input#activities {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}
main .input-todo input#date {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}
main .input-todo button {
  width: 50%;
  background: var(--primary);
  color: white;
  height: 40px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border: none;
}
main .input-todo button:hover {
  background: #898fff;
}
/* Input Todo End */

/* Modal Box Update Start */
.modal-body input {
  width: 100%;
  margin-bottom: 8px;
  border: 1.5px solid var(--primary);
  border-radius: 5px;
  outline: none;
}

.modal-body button#save-change {
  background-color: var(--primary);
  color: white;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  padding: 5px 8px;
}
/* Modal Box Update End */

/* Footer Start */
footer {
  width: 100%;
  height: 120px;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.192);
}
footer p {
  font-weight: 500;
  color: var(--primary);
}
footer i {
  border-radius: 50px;
  padding: 8px;
  background-color: var(--primary);
  color: white;
  font-size: 22px;
  margin-bottom: 8px;
  cursor: pointer;
}
footer i:hover {
  background-color: #898fff;
}
/* Footer End */
